html{
  font-family: "Noto Sans", sans-serif, "Noto Serif", serif;
  box-sizing: border-box;
}

*, *:before, *:after{
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: rgb(31, 77, 151);
  font-weight: 600;
}

a:hover, a:active{
  color: rgba(113, 224, 159, 0.749);
}

a, div, button{
  transition: all 0.2s;
}

@media (max-width: 600px) {
  div, p, img{
    font-size: 0.6rem;
  }

  h2, h2 a{
    font-size: 0.7rem;
  }

  h1{
    font-size: 0.9rem;
  }
 }

 .fade-enter-active, .fade-leave-active {
  transition: opacity .4s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
